* {
    padding: 0;
}

body {
    align-content: center;
    color: white;
    background-color: black;
}

.container{
    width: fit-content;
    height: fit-content;      
    text-align: center;    
    border-radius: 5px;   
    margin-top: 5%;  
}

a {
    margin: 5px;
}